<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1>Express</h1>
  <p>Welcome to Express</p>
  <br />
  <form action="./login" method="POST">
    Username:<br />
    <input type="text" name="username" value="" />
    <br />
    Password:<br />
    <input type="text" name="password" value="" />
    <br /><br />
    <input type="submit" value="Login">
    <p><%= result %></p>
  </form>
  <a href="/register">register</a>
  <script src="./javascripts/login.js"></script>
</body>

</html>